
<table mat-table [dataSource]="users" class="mat-elevation-z8" >
    
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}}</td>
  </ng-container>

  <ng-container matColumnDef="location_type">
    <th mat-header-cell *matHeaderCellDef> location_type </th>
    <td mat-cell *matCellDef="let element"> {{element.location_type}} </td>
  </ng-container>

  <ng-container matColumnDef="woeid">
    <th mat-header-cell *matHeaderCellDef> woeid </th>
    <td mat-cell *matCellDef="let element"> {{element.woeid}} </td>
  </ng-container>    

  <ng-container matColumnDef="latt_long">
    <th mat-header-cell *matHeaderCellDef> latt_long </th>
    <td mat-cell *matCellDef="let element"> {{element.latt_long}} </td>
  </ng-container>
    


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>

</table>

 <!--(click)="onRowClicked(row)"--> 